services:
  web:
    build: .
    container_name: mejmosefajn-web
    restart: unless-stopped
    env_file: .env
    expose:
      - "3001"
    volumes:
      - ./data:/app/data
      - ./server/uploads:/app/server/uploads
    environment:
      - VIRTUAL_HOST=new.mejmosefajn.org,app.mejmosefajn.org,new.lanalovesexeter.com,app.lanaloves.us
      - VIRTUAL_PORT=3001
      - LETSENCRYPT_HOST=new.mejmosefajn.org,app.mejmosefajn.org,new.lanalovesexeter.com,app.lanaloves.us
      - NODE_ENV=production
      - PORT=3001
      - GEMINI_API_KEY=AIzaSyBXDZ3-dKGai1u0yTBxgvYJxjp6vSDubxg
    networks:
      - webproxy

networks:
  webproxy:
    external: true
